/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start of code*/

html {
    font-family: Arial, Helvetica, sans-serif;
    width: 485px;
    margin: 0 auto;
    background-color: black;
    line-height: 1.5;
}
p {
    font-size: 1.25em;
    padding: 0 10px;
    line-height: 1.5em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
h1 {
    font-size: 3em;
    color: #007d7b;
    margin: 0px 0px;
    padding: 30px 0;
}
h2 {
    font-size: 2em;
    padding: 15px 0;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h1, section {
    background-color: white;
}

body{
    margin: 0px 5px;
    padding: 0 10px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav li{
    display: inline-flex;
    padding: 0 8px;
}

section {
    padding: 0 5px;
}

nav {
    background-color: black;
    padding: 25px 25px 25px 45px;
}

[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background-color: #00000070;
}

li:last-of-type {
    padding: 0px;
}

figcaption {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: medium;
    text-transform: uppercase;
    padding: 10px 0;
}

figure {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
}

img {
    width: 100%;
    height: auto;
}

.whitetext {
    color: white;
}

.whitebg {
    background-color: white;
}

.bottomtext {
    top: auto;
    bottom: 0;
}

.contact {
    background-color: black;
    color: white;
    text-align: center;
}

form {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

input {
    width: 100%;
    margin: 20px;
    height: 25px;
    padding: 8px;
}

label {
    margin-left: 30px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

input {
    margin-top: 0;
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #007d7b;
    color: white;
    width: 50%;
    border-radius: 20px;
    margin: 0 auto 40px auto;
    padding: 10px;
    height: 40px;
}

footer {
    padding: 10px 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

@media screen and (min-width: 880px) and (max-width:1299px) {
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    html {
        width: 880px;
        margin: 0 auto;
    }
    h1 {
        text-align: left;
        padding-left: 10px;
    }
    nav ul {
        text-align: center;
    }
    figure {
        margin: 6px 5px;
    }
}

@media screen and (min-width:1300px){
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0px;
    }
    html {
        width: 1300px;
        margin: 0 auto;
    }
    nav ul {
        text-align: right;
    }
    h1 {
        text-align: left;
        padding-left: 10px;
    }
    figure {
        margin: 6px 5px;
    }
}
